Repository chipsalliance/caliptra-sw, pull requests merged in 2023-12, with the labels that each got.

#1141 Enable CFI in FMC.
  Cargo.lock
  common/src/error_handler.rs
  common/src/lib.rs
  fmc/Cargo.toml
  fmc/src/flow/rt_alias.rs
  fmc/src/main.rs
Labels: FMC, Caliptra v1.0

#1124 [test] Validate ~128K firmware load in ICCM
  builder/src/firmware.rs
  image/gen/src/generator.rs
  rom/dev/doc/test-coverage/test-coverage.md
  rom/dev/tests/rom_integration_tests/test_image_validation.rs
  rom/dev/tools/test-fmc/src/main.rs
  rom/dev/tools/test-rt/src/main.rs
Labels: ROM, ROM Test

#997 FPGA ITRNG implementation
  .github/workflows/fpga.yml
  .github/workflows/nightly-release.yml
  hw-latest/fpga/FPGA_Instructions.md
  hw-latest/fpga/fpga_configuration.tcl
  hw-latest/fpga/src/axi4lite_intf.sv
  hw-latest/fpga/src/caliptra_fpga_realtime_regs.rdl
  hw-latest/fpga/src/caliptra_fpga_realtime_regs.sv
  hw-latest/fpga/src/caliptra_fpga_realtime_regs_pkg.sv
  hw-latest/fpga/src/caliptra_package_top.v
  hw-latest/fpga/src/caliptra_wrapper_top.sv
  hw-latest/fpga/src/constraints.xdc
  hw-latest/fpga/src/gen.sh
  hw-latest/fpga/src/jtag_constraints.xdc
  hw-latest/fpga/src/soc_adapter.v
  hw-model/src/lib.rs
  hw-model/src/model_fpga_realtime.rs
Labels: FPGA

#1198 Mark min-svn fields as deprecated.
  builder/src/lib.rs
  drivers/src/fuse_log.rs
  fmc/Makefile
  image/app/src/create/mod.rs
  image/app/src/main.rs
  image/elf/src/lib.rs
  image/gen/src/generator.rs
  image/gen/src/lib.rs
  image/types/src/lib.rs
  image/verify/src/lib.rs
  image/verify/src/verifier.rs
  rom/dev/Makefile
  rom/dev/README.md
  rom/dev/doc/test-coverage/test-coverage.md
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/rom_integration_tests/test_fmcalias_derivation.rs
  rom/dev/tests/rom_integration_tests/test_image_validation.rs
  rom/dev/tests/rom_integration_tests/test_warm_reset.rs
  test/tests/caliptra_integration_tests/fake_collateral_boot_test.rs
  test/tests/caliptra_integration_tests/smoke_test.rs
  test/tests/caliptra_integration_tests/warm_reset.rs
  test/tests/fips_test_suite/fips_cmd_test.rs
Labels: ROM, Caliptra v1.0

#1205 Remove ROM logic that inspects deprecated min-SVN field.
  FROZEN_IMAGES.sha384sum
  image/verify/src/verifier.rs
Labels: ROM
