Repository chipsalliance/caliptra-sw, pull requests merged in 2023-10, with the labels that each got.

#894 FMC fixes : RTEntry point validation and API comment
  drivers/src/lib.rs
  error/src/lib.rs
  fmc/src/flow/rt_alias.rs
  fmc/src/hand_off.rs
Labels: Security Audit

#855 Use PCR and measurement log indices from FHT in test-fmc
  rom/dev/tools/test-fmc/src/main.rs
Labels: test

#808 Remove dead FHT code.
  common/src/lib.rs
  drivers/src/hand_off.rs
Labels: FHT

#876 Caliptra C API libcaliptra asynchronous send/receive support
  libcaliptra/examples/generic/main.c
  libcaliptra/inc/caliptra_api.h
  libcaliptra/inc/caliptra_enums.h
  libcaliptra/inc/caliptra_types.h
  libcaliptra/src/caliptra_api.c
  libcaliptra/src/caliptra_fuses.h
  libcaliptra/src/caliptra_mbox.h
Labels: libcaliptra

#896 Fix for TOCTOU condition for reading in ROM for C API tests
  hw-model/c-binding/examples/smoke_test.c
  libcaliptra/examples/hwmodel/interface.c
Labels: libcaliptra

#895 Expand FPGA memory map to include SHA acc
  hw-latest/fpga/io_module/io_module.c
  hw-model/src/model_fpga_realtime.rs
Labels: FPGA

#809 Code coverage infra-structure test
  Cargo.lock
  hw-model/Cargo.toml
  hw-model/src/model_emulated.rs
  sw-emulator/lib/cpu/src/cpu.rs
  test/Cargo.toml
  test/src/coverage.rs
  test/src/lib.rs
  test/tests/test_code_coverage.rs
Labels: test, emulator

#909 [fix] Change UEID as per RATS specification
  drivers/src/fuse_bank.rs
  fmc/src/flow/x509.rs
  fmc/tests/test_rtalias.rs
  rom/dev/src/flow/cold_reset/x509.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  rom/dev/tests/test_image_validation.rs
  sw-emulator/app/src/main.rs
  test/tests/smoke_testdata/idevid_csr.der
  test/tests/smoke_testdata/idevid_csr.txt
  test/tests/smoke_testdata/ldevid_cert.der
  test/tests/smoke_testdata/ldevid_cert.txt
  x509/build/build.rs
Labels: ROM, ROM v1.0

#914 Adding remaining command wrappers to C API
  libcaliptra/examples/generic/main.c
  libcaliptra/inc/caliptra_api.h
  libcaliptra/inc/caliptra_types.h
  libcaliptra/src/caliptra_api.c
  libcaliptra/src/caliptra_mbox.h
Labels: libcaliptra

#912 [fix] Set Ready-For-FW Earlier in ROM
  drivers/src/soc_ifc.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/cold_reset/idev_id.rs
  rom/dev/src/flow/fake.rs
Labels: ROM, ROM v1.0

#911 [fix] Add CFI checks to svn_check_required in verifier library
  Cargo.lock
  cfi/lib/Cargo.toml
  cfi/lib/src/cfi_counter.rs
  image/verify/Cargo.toml
  image/verify/src/verifier.rs
  runtime/src/main.rs
Labels: ROM, ROM v1.0, Security Audit

#931 Expand FPGA KV to 16 keys and report_utilization during build
  builder/Cargo.toml
  builder/src/lib.rs
  drivers/Cargo.toml
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/keyvault_tests.rs
  hw-latest/fpga/fpga_configuration.tcl
  hw-latest/fpga/src/kv_reg.sv
Labels: FPGA

#930 [fix] Harden update reset flow
  FROZEN_IMAGES.sha384sum
  drivers/src/data_vault.rs
  error/src/lib.rs
  rom/dev/src/flow/cold_reset/mod.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/src/flow/warm_reset.rs
  rom/dev/src/lock.rs
Labels: ROM, ROM v1.0

#938 - Reset watchdog timer after enabling it to guarantee counting starts from zero
  FROZEN_IMAGES.sha384sum
  common/src/wdt.rs
  rom/dev/tests/test_wdt_activation_and_stoppage.rs
Labels: ROM, ROM v1.0

#950 [fix] Fix incorrect cfi_assert checks
  FROZEN_IMAGES.sha384sum
  image/verify/src/verifier.rs
  rom/dev/src/flow/warm_reset.rs
Labels: ROM, ROM v1.0, Security Audit

#945 FMC: Handle error during handoff to RT.
  error/src/lib.rs
  fmc/src/hand_off.rs
  fmc/src/main.rs
Labels: FMC

#947 Add command to test-rt to toggle update-reset
  fmc/test-fw/test-rt/src/interactive_test.rs
  fmc/tests/test_rtalias.rs
Labels: FMC

#949 Check if the owner and vendor cert validty dates are present in RT Alias cert
  runtime/tests/integration_tests.rs
Labels: test

#968 caliptra-builder: Don't rely on bash 4.3 features.
  builder/no_meta_rustc_wrapper.sh
Labels: Build & Release

#755 Use RT Journey PCR for DPE initialization
  runtime/src/drivers.rs
Labels: Run-Time

#987 [fix] Return dpe_result for Stash Measurement command
  FROZEN_IMAGES.sha384sum
  hw-model/src/lib.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
Labels: ROM, ROM v1.0

#954 [fix] CFI check for TRNG source
  FROZEN_IMAGES.sha384sum
  cfi/lib/src/cfi.rs
  cfi/lib/src/cfi_counter.rs
  cfi/lib/src/xoshiro.rs
  drivers/src/memory_layout.rs
  drivers/src/soc_ifc.rs
  drivers/src/trng.rs
  drivers/test-fw/src/bin/trng_driver_responder.rs
  error/src/lib.rs
  fmc/src/main.rs
  rom/dev/src/main.rs
  rom/dev/src/rom.ld
  rom/dev/src/start.S
  rom/dev/test-fw/asm_tests.rs
  test-harness/src/lib.rs
  test/tests/smoke_test.rs
Labels: ROM, security/countermeasure, ROM v1.0

#963 [fix] Update ROM test coverage document
  rom/dev/doc/test-coverage/test-coverage.md
Labels: documentation

#986 [fix] Add Caliptra version to all certificate common names
  FROZEN_IMAGES.sha384sum
  fmc/tests/test_rtalias.rs
  rom/dev/tests/rom_integration_tests/test_fmcalias_derivation.rs
  runtime/src/dpe_platform.rs
  test/tests/smoke_testdata/idevid_csr.der
  test/tests/smoke_testdata/idevid_csr.txt
  test/tests/smoke_testdata/ldevid_cert.der
  test/tests/smoke_testdata/ldevid_cert.txt
  x509/build/build.rs
Labels: ROM, ROM v1.0

#935 [fix] Return fake random numbers if RNG h/w block unavailable
  FROZEN_IMAGES.sha384sum
  drivers/src/soc_ifc.rs
  drivers/src/trng.rs
  error/src/lib.rs
  rom/dev/README.md
  rom/dev/src/main.rs
  rom/dev/tests/rom_integration_tests/test_dice_derivations.rs
  test/tests/caliptra_integration_tests/test_code_coverage.rs
Labels: ROM, ROM v1.0
