Repository chipsalliance/caliptra-sw, pull requests merged in 2023-11, with the labels that each got.

#1015 [fix] Remove PUF entropy for Xoshiro S* variables
  FROZEN_IMAGES.sha384sum
  drivers/src/memory_layout.rs
  rom/dev/src/rom.ld
  rom/dev/src/start.S
  rom/dev/test-fw/asm_tests.rs
Labels: ROM, ROM v1.0

#805 Update bitflags 2.0.1 -> 2.4.0.
  Cargo.toml
Labels: Build & Release

#1042 Ecc384::key_pair: make ecc_private_key_usage mandatory.
  drivers/src/ecc384.rs
  drivers/test-fw/src/bin/doe_tests.rs
  drivers/test-fw/src/bin/ecc384_tests.rs
  drivers/test-fw/src/bin/hmac384_tests.rs
  error/src/lib.rs
Labels: ROM v1.0

#1045 [fix] Make CFI wrappers force inline.
  FROZEN_IMAGES.sha384sum
  cfi/derive/src/lib.rs
  test/tests/caliptra_integration_tests/smoke_test.rs
Labels: ROM, ROM v1.0

#1022 [feat] Add additional CFI checks to firmware image library
  Cargo.lock
  FROZEN_IMAGES.sha384sum
  cfi/derive/src/lib.rs
  drivers/src/lms.rs
  image/verify/Cargo.toml
  image/verify/src/verifier.rs
  rom/dev/src/flow/cold_reset/mod.rs
  rom/dev/src/fuse.rs
  rom/dev/src/pcr.rs
  runtime/Cargo.toml
  test/tests/caliptra_integration_tests/smoke_test.rs
Labels: ROM, security/countermeasure, ROM v1.0

#1021 Enable FPGA Clock Gating
  hw-latest/fpga/fpga_configuration.tcl
  hw-latest/fpga/src/ecc_ram_tdp_file.sv
  hw-latest/fpga/src/fpga_icg.sv
Labels: FPGA

#1007 Use supported bash features.
  builder/no_meta_rustc_wrapper.sh
Labels: Build & Release

#1028 [feat] Add CFI checks to the driver library
  Cargo.lock
  FROZEN_IMAGES.sha384sum
  drivers/Cargo.toml
  drivers/src/ecc384.rs
  drivers/src/hmac384.rs
  drivers/src/hmac384_kdf.rs
  drivers/src/sha1.rs
  drivers/src/sha384.rs
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/doe_tests.rs
  drivers/test-fw/src/bin/ecc384_sign_validation_failure_test.rs
  drivers/test-fw/src/bin/ecc384_tests.rs
  drivers/test-fw/src/bin/hmac384_tests.rs
  drivers/test-fw/src/bin/sha1_tests.rs
  drivers/test-fw/src/bin/sha256_tests.rs
  drivers/test-fw/src/bin/sha384_tests.rs
  drivers/test-fw/src/bin/trng_driver_responder.rs
  fmc/Cargo.toml
  fmc/src/main.rs
  fmc/test-fw/test-rt/Cargo.toml
  hw-model/test-fw/Cargo.toml
  hw-model/test-fw/test_pcr_extend.rs
  rom/dev/Cargo.toml
  rom/dev/src/flow/cold_reset/crypto.rs
  rom/dev/src/main.rs
  rom/dev/src/rom.ld
  runtime/Cargo.toml
  test-harness/scripts/rom.ld
  test-harness/src/lib.rs
Labels: ROM, security/countermeasure, ROM v1.0

#992 Emulation code coverage : persist and merge coverage bitmaps
  .github/workflows/build-test.yml
  Cargo.lock
  Cargo.toml
  coverage/Cargo.toml
  coverage/src/lib.rs
  coverage/src/main.rs
  drivers/tests/drivers_integration_tests/main.rs
  hw-model/Cargo.toml
  hw-model/c-binding/examples/Makefile
  hw-model/src/model_emulated.rs
  libcaliptra/examples/hwmodel/Makefile
  rom/dev/tests/rom_integration_tests/test_fake_rom.rs
  rom/dev/tests/rom_integration_tests/test_fmcalias_derivation.rs
  rom/dev/tests/rom_integration_tests/test_image_validation.rs
  rom/dev/tests/rom_integration_tests/test_update_reset.rs
  test/Cargo.toml
  test/dpe_verification/transport.go
  test/src/coverage.rs
  test/src/lib.rs
  test/tests/caliptra_integration_tests/test_code_coverage.rs
Labels: test, Build & Release

#698 Add populate_chksum API for Mailbox requests
  api/Cargo.toml
  api/src/mailbox.rs
  common/Cargo.toml
  runtime/Cargo.toml
  runtime/tests/runtime_integration_tests/ecdsa.rs
  runtime/tests/runtime_integration_tests/hmac.rs
  runtime/tests/runtime_integration_tests/integration_tests.rs
Labels: test, Run-Time

#1072 caliptra-api: Avoid panic by using wrapping arithmetic for checksum calculation.
  api/src/checksum.rs
  api/src/lib.rs
Labels: ROM

#1069 Detect ECC errors in incoming mailbox data
  FROZEN_IMAGES.sha384sum
  drivers/src/mailbox.rs
  error/src/lib.rs
Labels: ROM

#1019 Check extended error info in test_rom_wdt_timeout
  rom/dev/doc/test-coverage/test-coverage.md
  rom/dev/tests/rom_integration_tests/test_wdt_activation_and_stoppage.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Labels: ROM Test

#1086 [test] Add warm reset tests to ROM integration test suite
  rom/dev/doc/test-coverage/test-coverage.md
  rom/dev/tests/rom_integration_tests/main.rs
  rom/dev/tests/rom_integration_tests/test_warm_reset.rs
Labels: ROM, Caliptra v1.0, ROM Test
