Repository chipsalliance/caliptra-sw, pull requests merged in 2023-08, with the labels that each got.

#499 [fix] Additional checks for FMC and Runtime in the Verifier library
  Cargo.lock
  error/src/lib.rs
  image/verify/Cargo.toml
  image/verify/src/verifier.rs
  rom/dev/doc/test-coverage/test-coverage.md
  rom/dev/src/rom_env.rs
  rom/dev/tests/test_image_validation.rs
Labels: ROM_REVIEW

#602 [fix] Update ROM size to 48KB
  builder/src/lib.rs
  builder/src/testdata/example.rom.golden
  common/src/memory_layout.rs
  fmc/Makefile
  fmc/test-fw/test-rt/memory.x
  rom/dev/Makefile
  rom/dev/src/rom.ld
  sw-emulator/lib/periph/src/root_bus.rs
  test-harness/scripts/rom.ld
Labels: ROM

#503 [fix] UpdateReset::Run: Don't stop the WDT.
  rom/dev/src/flow/update_reset.rs
Labels: ROM, ROM_REVIEW

#604 [fix] Revert temporary fix for Warm Reset flow.
  error/src/lib.rs
  rom/dev/src/flow/warm_reset.rs
Labels: ROM

#600 Have PCR log entries include a PCR bitmask.
  common/src/pcr.rs
  rom/dev/src/pcr.rs
  rom/dev/tests/test_fmcalias_derivation.rs
Labels: ROM

#605 [fix] Update data vault entries on Update Reset flow
  common/src/boot_status.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/tests/test_update_reset.rs
  sw-emulator/lib/periph/src/key_vault.rs
Labels: ROM

#472 [feat] Store boot status in the boot status register only on an error
  common/src/memory_layout.rs
  drivers/src/error_reporter.rs
  drivers/src/soc_ifc.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  rom/dev/tests/test_image_validation.rs
  rom/dev/tests/test_update_reset.rs
Labels: ROM, ROM_REVIEW

#547 Add version numbers to firmware images
  builder/src/lib.rs
  drivers/src/soc_ifc.rs
  fmc/Makefile
  image/app/src/create/mod.rs
  image/app/src/main.rs
  image/elf/src/lib.rs
  image/gen/src/generator.rs
  image/gen/src/lib.rs
  image/types/src/lib.rs
  rom/dev/Makefile
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  runtime/tests/common.rs
  runtime/tests/integration_tests.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Labels: ROM

#482 Extend both a current and journey PCR in ROM.
  common/src/boot_status.rs
  common/src/pcr.rs
  drivers/src/pcr_bank.rs
  error/src/lib.rs
  rom/dev/README.md
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/src/lock.rs
  rom/dev/src/pcr.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  rom/dev/tests/test_update_reset.rs
  rom/dev/tools/test-fmc/src/main.rs
Labels: ROM

#616 Declare names for PCR IDs used by ROM.
  common/src/pcr.rs
  rom/dev/src/flow/cold_reset/fmc_alias.rs
  rom/dev/src/lock.rs
  rom/dev/src/pcr.rs
Labels: ROM

#298 Mark KeyUsage extensions as critical
  Cargo.lock
  Cargo.toml
  rom/dev/tests/test_fmcalias_derivation.rs
  test/tests/smoke_test.rs
  test/tests/smoke_testdata/idevid_csr.der
  test/tests/smoke_testdata/idevid_csr.txt
  test/tests/smoke_testdata/ldevid_cert.der
  test/tests/smoke_testdata/ldevid_cert.txt
  x509/Cargo.toml
  x509/build/x509.rs
  x509/src/fmc_alias_cert.rs
  x509/src/idevid_csr.rs
  x509/src/ldevid_cert.rs
Labels: ROM

#614 [fix] Fail ROM boot flow on receiving an invalid Mailbox command
  error/src/lib.rs
  hw-model/src/lib.rs
  rom/dev/doc/test-coverage/test-coverage.md
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/test_mailbox_errors.rs
Labels: ROM

#603 [feat] Control Flow Integrity (CFI) Features
  Cargo.lock
  Cargo.toml
  cfi/derive/Cargo.toml
  cfi/derive/src/lib.rs
  cfi/lib/Cargo.toml
  cfi/lib/src/cfi.rs
  cfi/lib/src/cfi_ctr.rs
  cfi/lib/src/lib.rs
  cfi/lib/src/xoshiro.rs
  cfi/lib/tests/test_derive.rs
  drivers/src/memory_layout.rs
  error/src/lib.rs
  rom/dev/Cargo.toml
  rom/dev/Makefile
  rom/dev/src/fht.rs
  rom/dev/src/flow/cold_reset/crypto.rs
  rom/dev/src/flow/cold_reset/dice.rs
  rom/dev/src/flow/cold_reset/fmc_alias.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/cold_reset/idev_id.rs
  rom/dev/src/flow/cold_reset/ldev_id.rs
  rom/dev/src/flow/cold_reset/mod.rs
  rom/dev/src/flow/mod.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/src/flow/warm_reset.rs
  rom/dev/src/fuse.rs
  rom/dev/src/lock.rs
  rom/dev/src/main.rs
  rom/dev/src/pcr.rs
  rom/dev/src/wdt.rs
Labels: ROM

#644 Reset flows for val-rom
  rom/dev/src/flow/update_reset.rs
  rom/dev/src/flow/val.rs
  rom/dev/tests/test_val_rom.rs
  rom/dev/tools/test-fmc/Cargo.toml
  rom/dev/tools/test-fmc/src/main.rs
Labels: ROM

#646 [fix] CFI fixes
  cfi/derive/src/lib.rs
  cfi/lib/src/cfi.rs
  cfi/lib/src/cfi_counter.rs
  cfi/lib/src/lib.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
Labels: ROM

#652 [fix] Address ROM TODOs
  rom/dev/src/flow/cold_reset/crypto.rs
  rom/dev/src/flow/cold_reset/idev_id.rs
  rom/dev/src/main.rs
  rom/dev/src/verifier.rs
  rom/dev/src/wdt.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  rom/dev/tools/test-fmc/src/main.rs
  rom/dev/tools/test-rt/src/main.rs
Labels: ROM

#666 [fix] Zero out the CFI counter before ROM exit.
  rom/dev/src/main.rs
Labels: ROM

#664 [fix] CFI Unit test failure fix
  Cargo.lock
  Cargo.toml
  cfi/lib/Cargo.toml
  cfi/lib/tests/test_derive.rs
Labels: ROM

#660 [fix] Update ECC384 and LMS verify function signatures
  drivers/src/ecc384.rs
  drivers/src/lms.rs
  drivers/test-fw/src/bin/ecc384_tests.rs
  drivers/test-fw/src/bin/lms_24_tests.rs
  drivers/test-fw/src/bin/lms_32_tests.rs
  error/src/lib.rs
  image/verify/src/lib.rs
  image/verify/src/verifier.rs
  rom/dev/README.md
  rom/dev/src/flow/cold_reset/crypto.rs
  rom/dev/src/flow/cold_reset/fmc_alias.rs
  rom/dev/src/flow/cold_reset/idev_id.rs
  rom/dev/src/flow/cold_reset/ldev_id.rs
  rom/dev/src/flow/val.rs
  rom/dev/src/verifier.rs
Labels: ROM

#680 Add capabilities command to ROM.
  Cargo.lock
  common/Cargo.toml
  common/src/capabilities.rs
  common/src/lib.rs
  common/src/mailbox_api.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/test_capabilities.rs
Labels: ROM

#685 [fix] Fail warm-reset flow if previous cold-reset was unsuccessful.
  common/src/boot_status.rs
  drivers/src/data_vault.rs
  error/src/lib.rs
  rom/dev/src/flow/cold_reset/mod.rs
  rom/dev/src/flow/warm_reset.rs
  rom/dev/src/lock.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  rom/dev/tools/test-fmc/src/main.rs
Labels: ROM
