Repository chipsalliance/caliptra-sw, pull requests merged in 2023-09, with the labels that each got.

#705 Correct comments for not-before / not-after fields.
  image/types/src/lib.rs
Labels: ROM

#693 Implement FIPS commands for ROM and invoke SELF-TEST from Runtime.
  Cargo.lock
  builder/src/lib.rs
  common/Cargo.toml
  common/src/fips.rs
  common/src/lib.rs
  common/src/mailbox_api.rs
  common/src/verifier.rs
  drivers/src/hand_off.rs
  drivers/src/lms.rs
  drivers/src/memory_layout.rs
  drivers/src/soc_ifc.rs
  drivers/test-fw/src/bin/lms_32_tests.rs
  drivers/test-fw/src/bin/negative_tests_lms.rs
  error/src/lib.rs
  kat/Cargo.toml
  kat/src/kats_env.rs
  kat/src/lib.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/fake.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/src/kat.rs
  rom/dev/src/main.rs
  rom/dev/src/pcr.rs
  rom/dev/src/rom_env.rs
  runtime/Cargo.toml
  runtime/src/fips.rs
  runtime/src/lib.rs
  runtime/src/mailbox.rs
  runtime/tests/integration_tests.rs
  sw-emulator/lib/periph/src/soc_reg.rs
  test/Cargo.toml
  test/tests/smoke_test.rs
Labels: ROM

#732 Swap PCR2 and PCR3 in FMC
  drivers/src/pcr_log.rs
  fmc/README.md
  fmc/src/flow/pcr.rs
Labels: FMC

#750 [fix] Move PCR extension after data vault persistence for Update Reset
  common/src/boot_status.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/tests/test_update_reset.rs
Labels: ROM

#730 [feat] Configure ROM Watchdog timer with a timeout value from CPTRA_WDT_CFG register.
  drivers/src/soc_ifc.rs
  error/src/lib.rs
  hw-model/src/lib.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/main.rs
  rom/dev/src/wdt.rs
  sw-emulator/app/src/main.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Labels: ROM, emulator

#429 [RT Spec]: Add mailbox commands for PCR quoting
  runtime/README.md
Labels: documentation, Run-Time

#559 [feat] Measurement command handling in ROM
  common/src/mailbox_api.rs
  drivers/src/lib.rs
  drivers/src/memory_layout.rs
  drivers/src/pcr_log.rs
  drivers/src/persistent.rs
  error/src/lib.rs
  hw-model/src/lib.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/lock.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  rom/dev/tools/test-fmc/src/main.rs
Labels: ROM, test

#729 Image verify option for fake ROM
  drivers/src/soc_ifc.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/fake.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/tests/test_fake_rom.rs
Labels: ROM, test

#734 Stash measurement FIPS status response
  Cargo.lock
  hw-model/Cargo.toml
  hw-model/src/lib.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/test_fmcalias_derivation.rs
Labels: ROM, FIPS, test

#767 Fix typos in ROM README
  rom/dev/README.md
Labels: ROM

#766 Log measurement context and SVN.
  drivers/src/lib.rs
  drivers/src/memory_layout.rs
  drivers/src/pcr_log.rs
  drivers/src/persistent.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  rom/dev/tools/test-fmc/src/main.rs
Labels: ROM

#744 Update FMC Alias cert to contain everything in PCR_ID_FMC_CURRENT
  hw-model/types/src/lib.rs
  rom/dev/src/flow/cold_reset/fmc_alias.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  test/tests/smoke_test.rs
  x509/build/build.rs
  x509/build/cert.rs
  x509/build/x509.rs
  x509/src/fmc_alias_cert.rs
Labels: ROM, test

#763 [bug] caliptra-image ignores ELF .rodata address.
  image/elf/src/lib.rs
Labels: Build & Release

#747 Add driver test cases for PersistentDataAccessor.
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/persistent_tests.rs
  drivers/tests/integration_tests.rs
Labels: test

#753 ROM: Log NMI/exception details to CPTRA_FW_EXTENDED_ERROR_INFO.
  drivers/src/soc_ifc.rs
  rom/dev/src/main.rs
Labels: ROM

#618 [fuzzing] Implementing initial support for fuzzing LMS
  drivers/fuzz/.gitignore
  drivers/fuzz/Cargo.toml
  drivers/fuzz/common_corpus/lms_24_test01.dat
  drivers/fuzz/common_corpus/lms_kat.dat
  drivers/fuzz/src/fuzz_target_lms.rs
  drivers/fuzz/src/sha256.rs
  drivers/src/lib.rs
  drivers/src/lms.rs
  drivers/src/sha256.rs
  drivers/test-fw/src/bin/sha256_tests.rs
  fmc/src/flow/crypto.rs
  kat/src/sha256_kat.rs
Labels: ROM, FMC, FIPS, test, Run-Time

#768 Adds LMS verify to smoke_test
  test/tests/smoke_test.rs
Labels: test

#781 Use actual FMC digest in PCR log test
  Cargo.lock
  rom/dev/Cargo.toml
  rom/dev/tests/test_fmcalias_derivation.rs
Labels: ROM, test

#783 gce-ci: Increase maximum VM duration to 36 hours.
  ci-tools/github-runner/cleanup.go
Labels: Build & Release

#782 Combine hasher.update() calls to improve ROM code size.
  rom/dev/src/flow/cold_reset/fmc_alias.rs
Labels: optimization, ROM

#749 Move ROM's DATA_ORG to the start of DCCM
  drivers/src/memory_layout.rs
  drivers/src/persistent.rs
  rom/dev/src/rom.ld
  rom/dev/tests/test_fmcalias_derivation.rs
Labels: ROM

#772 Adding FIPS status to ROM capabilities command response
  common/src/capabilities.rs
  common/src/mailbox_api.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/test_capabilities.rs
Labels: ROM

#789 Change [afmc] to [fwproc] in fw_processor.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
Labels: ROM

#780 Implement PCR logging in FMC
  Cargo.lock
  common/src/lib.rs
  drivers/src/hand_off.rs
  drivers/src/pcr_log.rs
  error/src/lib.rs
  fmc/Cargo.toml
  fmc/README.md
  fmc/src/flow/pcr.rs
  fmc/src/flow/rt_alias.rs
  fmc/src/hand_off.rs
  fmc/src/main.rs
  fmc/test-fw/test-rt/Cargo.toml
  fmc/test-fw/test-rt/src/interactive_test.rs
  fmc/test-fw/test-rt/src/main.rs
  fmc/tests/test_rtalias.rs
  rom/dev/src/fht.rs
Labels: ROM, FMC

#791 Reduce FMC size back to 16k.
  common/src/lib.rs
Labels: FMC

#793 ROM: Fix races with error register and mailbox completion.
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/tests/test_mailbox_errors.rs
  rom/dev/tests/test_update_reset.rs
Labels: ROM

#771 Use one variable rather than two for the DOE IV.
  drivers/tests/integration_tests.rs
  rom/dev/README.md
  rom/dev/src/flow/cold_reset/idev_id.rs
  test/src/derive.rs
Labels: documentation, ROM, test

#743 Move DPE Instance to persistent data in DCCM
  Cargo.lock
  drivers/Cargo.toml
  drivers/src/memory_layout.rs
  drivers/src/persistent.rs
  runtime/Cargo.toml
  runtime/src/invoke_dpe.rs
  runtime/src/lib.rs
  runtime/src/stash_measurement.rs
Labels: ROM, Run-Time

#735 Add LdevId sig to FHT and use FHT to retrieve all signatures in RT
  drivers/src/hand_off.rs
  error/src/lib.rs
  fmc/README.md
  rom/dev/src/fht.rs
  runtime/src/dice.rs
  runtime/src/lib.rs
  runtime/test-fw/Cargo.toml
  runtime/test-fw/src/mbox_tests.rs
  runtime/tests/common.rs
  runtime/tests/ecdsa.rs
  runtime/tests/integration_tests.rs
Labels: documentation, ROM, FHT, Run-Time

#801 Clarify in code that owner signatures are non-optional.
  image/verify/src/verifier.rs
Labels: ROM, ROM v1.0

#790 [fix] Correctly lock the SHA Accelerator on ROM fatal error.
  drivers/src/sha384acc.rs
  rom/dev/src/main.rs
Labels: ROM, ROM v1.0

#804 Combine single-byte measurements into one entry.
  drivers/src/pcr_log.rs
  rom/dev/README.md
  rom/dev/src/flow/cold_reset/fmc_alias.rs
  rom/dev/src/pcr.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  test/src/derive.rs
  test/tests/fake_collateral_boot_test.rs
  test/tests/smoke_test.rs
Labels: ROM, ROM v1.0

#796 Add verilator, itrng, fpga_realtime features to ROM and FMC
  fmc/Cargo.toml
  rom/dev/Cargo.toml
Labels: test

#778 UART driver: toggle a bit on every write.
  drivers/src/uart.rs
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/test_uart.rs
  drivers/tests/integration_tests.rs
  hw-latest/verilated/caliptra_verilated.cpp
  hw-latest/verilated/caliptra_verilated.h
  hw-latest/verilated/caliptra_verilated.sv
  hw-latest/verilated/src/bindings/real.rs
  hw-latest/verilated/src/lib.rs
  hw-model/src/lib.rs
  hw-model/src/model_verilated.rs
Labels: ROM, ROM v1.0

#736 [feat] Add code coverage to sw-emulator
  Cargo.lock
  Cargo.toml
  sw-emulator/lib/cpu/Cargo.toml
  sw-emulator/lib/cpu/src/cpu.rs
  sw-emulator/lib/cpu/src/instr/mod.rs
  sw-emulator/lib/cpu/src/lib.rs
Labels: test, emulator, Build & Release

#774 Remove fake measurement reporting from ROM.
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/test_fmcalias_derivation.rs
Labels: ROM, test, ROM v1.0

#341 Create threat-model.md, opening PR for review/merge of ROM threat model
  rom/dev/doc/threat-model.md
Labels: documentation, ROM, ROM v1.0

#816 Remove unnecessary vendor key hashing code.
  image/types/src/lib.rs
  image/verify/src/lib.rs
  image/verify/src/verifier.rs
Labels: ROM, ROM v1.0

#794 Add checksum verify to ROM command processing
  error/src/lib.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/test_capabilities.rs
  rom/dev/tests/test_fmcalias_derivation.rs
  rom/dev/tests/test_mailbox_errors.rs
Labels: ROM, ROM v1.0

#814 [fix] Overflow checks for image verifier
  Cargo.lock
  error/src/lib.rs
  image/types/Cargo.toml
  image/types/src/lib.rs
  image/verify/src/verifier.rs
Labels: ROM, ROM v1.0

#813 [fix] On returning generic error, store actual error in extended error info
  common/src/verifier.rs
  drivers/src/soc_ifc.rs
  error/src/lib.rs
  image/verify/src/lib.rs
  image/verify/src/verifier.rs
  rom/dev/doc/error-attribution.md
  rom/dev/src/flow/fake.rs
Labels: ROM, ROM v1.0

#779 Populate FHT at the beginning of the cold reset flow.
  rom/dev/src/fht.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/cold_reset/idev_id.rs
  rom/dev/src/flow/cold_reset/mod.rs
  rom/dev/src/flow/fake.rs
  rom/dev/src/flow/mod.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/src/flow/warm_reset.rs
  rom/dev/src/main.rs
  rom/dev/src/pcr.rs
Labels: ROM, ROM v1.0

#795 Use persistent FHT throughout FMC.
  fmc/src/flow/mod.rs
  fmc/src/flow/pcr.rs
  fmc/src/flow/rt_alias.rs
  fmc/src/flow/tci.rs
  fmc/src/hand_off.rs
  fmc/src/main.rs
  fmc/test-fw/test-rt/src/interactive_test.rs
Labels: FMC

#757 Disable attestation when executing a mbox cmd in a warm reset
  common/src/mailbox_api.rs
  runtime/src/disable.rs
  runtime/src/info.rs
  runtime/src/lib.rs
  runtime/src/mailbox.rs
  runtime/src/main.rs
  runtime/tests/integration_tests.rs
Labels: Run-Time

#806 Add measurement log address and index to FHT.
  drivers/src/hand_off.rs
  fmc/README.md
  fmc/tests/test_rtalias.rs
  rom/dev/src/fht.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/test_fmcalias_derivation.rs
Labels: ROM, FHT, ROM v1.0

#853 [fix] When in shutdown state all mailbox transactions are dropped and fatal…
  runtime/src/drivers.rs
  runtime/src/fips.rs
  runtime/src/lib.rs
  test/tests/smoke_test.rs
Labels: bug, Run-Time

#823 Remove the log index field from the PCR bank.
  drivers/src/pcr_bank.rs
  fmc/src/flow/pcr.rs
  fmc/tests/test_rtalias.rs
Labels: FMC

#856 [fix] MailboxSendTxn::drop implementation is not exhaustive.
  drivers/src/mailbox.rs
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/mbox_send_txn_drop.rs
  drivers/tests/integration_tests.rs
  sw-emulator/lib/periph/src/mailbox.rs
Labels: ROM, ROM v1.0, Security Audit

#858 [fix] TOCTOU Condition in SHA-512 Accelerator Lock Acquisition
  common/src/verifier.rs
  drivers/src/lib.rs
  drivers/src/sha384acc.rs
  drivers/test-fw/src/bin/sha384acc_tests.rs
  error/src/lib.rs
  kat/src/kats_env.rs
  kat/src/lib.rs
  kat/src/sha384acc_kat.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/fake.rs
  rom/dev/src/main.rs
  runtime/src/fips.rs
Labels: ROM, ROM v1.0, Security Audit

#811 image/verify: Fix bit-rot and update bundle size
  image/verify/fuzz/src/fuzz_target_common.rs
Labels: test

#870 Update FPGA rtl for veer_sram_sink/src
  hw-latest/fpga/src/caliptra_veer_sram_export.sv
  hw-latest/fpga/src/caliptra_wrapper_top.sv
Labels: FPGA

#700 .github/workflows: Enable standard CI build tests for fuzzing
  .github/workflows/build-test.yml
Labels: Build & Release

#861 Fix for issue #838
  drivers/src/lms.rs
  drivers/test-fw/src/bin/lms_24_tests.rs
  drivers/test-fw/src/bin/negative_tests_lms.rs
  image/openssl/src/lib.rs
Labels: ROM, ROM v1.0, Security Audit

#631 .github/workflows: Enable fuzz testing as a nightly CI task
  .github/workflows/nightly-fuzzing.yml
  .github/workflows/reusable-aflplusplus.yml
  .github/workflows/reusable-libfuzzer.yml
Labels: Build & Release

#710 Add FakeROM bin to release
  builder/bin/image_gen.rs
  ci-tools/release/build_release.sh
Labels: Build & Release
