Repository chipsalliance/caliptra-sw, pull requests merged in 2024-02, with the labels that each got.

#1320 [fix] Execute SHA2-256 KAT before executing the ROM integrity check
  FROZEN_IMAGES.sha384sum
  drivers/test-fw/src/bin/hmac384_tests.rs
  kat/src/hmac384kdf_kat.rs
  kat/src/lib.rs
  rom/dev/src/kat.rs
  rom/dev/src/main.rs
Labels: bug, ROM, Caliptra v1.0

#1329 Zeroizing temp values from ROM integrity check
  FROZEN_IMAGES.sha384sum
  rom/dev/src/main.rs
  runtime/src/fips.rs
Labels: bug, ROM, FIPS, Caliptra v1.0

#1336 Adding ROM version
  FROZEN_IMAGES.sha384sum
  builder/src/lib.rs
  builder/src/version.rs
  drivers/src/soc_ifc.rs
  image/types/src/lib.rs
  rom/dev/README.md
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/main.rs
  rom/dev/tests/rom_integration_tests/main.rs
  rom/dev/tests/rom_integration_tests/test_version.rs
  runtime/README.md
  runtime/tests/runtime_integration_tests/common.rs
  runtime/tests/runtime_integration_tests/test_boot.rs
  runtime/tests/runtime_integration_tests/test_fips.rs
  runtime/tests/runtime_integration_tests/test_info.rs
  test/src/lib.rs
  test/tests/fips_test_suite/fips_cmd_test.rs
Labels: bug, ROM, FIPS, Caliptra v1.0

#1296 FPGA JTAG using gpio
  builder/src/lib.rs
  hw-model/src/model_fpga_realtime.rs
  hw/fpga/FPGA_Instructions.md
  hw/fpga/fpga_configuration.tcl
  hw/fpga/images/Caliptra_FPGA_PMOD_JTAG.svg
  hw/fpga/openocd_caliptra.txt
  hw/fpga/src/caliptra_package_top.v
  hw/fpga/src/jtag_constraints.xdc
  test/tests/caliptra_integration_tests/jtag_test.rs
  test/tests/caliptra_integration_tests/main.rs
  test/tests/caliptra_integration_tests/smoke_testdata/gdb_script.txt
Labels: FPGA

#1351 Fixing response for runtime shutdown command
  runtime/src/fips.rs
  runtime/tests/runtime_integration_tests/test_fips.rs
  test/tests/fips_test_suite/fips_cmd_test.rs
Labels: bug, FIPS, Run-Time

#1373 Adding SHA256 KAT before ROM integrity test to meet FIPS requirements and match ROM
  runtime/src/fips.rs
Labels: bug, FIPS, Run-Time, Caliptra v1.0
