Repository chipsalliance/caliptra-sw, changes with the owners that CODEOWNERS names for each.
All owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @rusty1968, @jhand2, @zhalvorsen, @jlmahowa-amd, @FerralCoder, @bluegate010, @fdamato, @wmaroneAMD, @nquarton

Clippy fixes
  runtime/src/cryptographic_mailbox.rs
  runtime/tests/runtime_integration_tests/test_cryptographic_mailbox.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Add the rest of the `mci_top` registers.
  hw/latest/registers/src/lib.rs
  hw/latest/registers/src/mci.rs
  hw/latest/registers/src/mcu_mbox0.rs
  hw/latest/registers/src/mcu_mbox1.rs
  hw/latest/registers/src/mcu_sram.rs
  hw/latest/registers/src/mcu_trace_buffer.rs
  registers/bin/extra-rdl/el2_pic_ctrl.rdl
  registers/bin/generator/src/main.rs
Owners: none

remove mldsa zeroize
  common/src/error_handler.rs
Owners: none

remove sha lock
  common/src/error_handler.rs
Owners: none

remove zeroize
  common/src/error_handler.rs
  drivers/src/mldsa87.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

Add the rest of the `mci_top` registers. (#2347)
  hw/latest/registers/src/lib.rs
  hw/latest/registers/src/mci.rs
  hw/latest/registers/src/mcu_mbox0.rs
  hw/latest/registers/src/mcu_mbox1.rs
  hw/latest/registers/src/mcu_sram.rs
  hw/latest/registers/src/mcu_trace_buffer.rs
  registers/bin/extra-rdl/el2_pic_ctrl.rdl
  registers/bin/generator/src/main.rs
Owners: none

Update runtime/README.md
  runtime/README.md
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Update runtime/README.md
  runtime/README.md
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Update runtime/README.md
  runtime/README.md
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Add note about counter endianness
  runtime/README.md
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

FPGA: model tests alignment fix
  hw-model/src/model_fpga_realtime.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

FPGA: model tests alignment fix (#2350)
  hw-model/src/model_fpga_realtime.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

96740
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

96756
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

96752
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

No change but simpler
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

LE
  drivers/src/aes.rs
  drivers/src/array.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

96712
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

96564
  common/src/crypto.rs
  common/src/hmac_cm.rs
  drivers/src/aes.rs
  drivers/src/cmac_kdf.rs
  drivers/src/persistent.rs
  drivers/test-fw/src/bin/aes_tests.rs
  kat/src/aes256cbc_kat.rs
  kat/src/aes256cmac_kat.rs
  kat/src/aes256ctr_kat.rs
  kat/src/aes256ecb_kat.rs
  kat/src/aes256gcm_kat.rs
  kat/src/cmackdf_kat.rs
  rom/dev/tools/test-fmc/src/main.rs
  runtime/src/cryptographic_mailbox.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

96660
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

96548
  drivers/src/aes.rs
  kat/src/aes256cbc_kat.rs
  kat/src/aes256ctr_kat.rs
  runtime/src/cryptographic_mailbox.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

Unnecessary check
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

96588
  drivers/src/aes.rs
  drivers/src/cmac_kdf.rs
  drivers/src/lib.rs
  drivers/test-fw/src/bin/aes_tests.rs
  kat/src/aes256cmac_kat.rs
  kat/src/cmackdf_kat.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

Remove swap_bytes from kat
  kat/src/aes256cmac_kat.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson

Clippy fix
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

96508
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

96460
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

96444
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

Rename block
  drivers/src/aes.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

drivers: Use LEArray types instead of byte slices when possible in AES driver to save code space (#2352)
  common/src/crypto.rs
  common/src/hmac_cm.rs
  drivers/src/aes.rs
  drivers/src/array.rs
  drivers/src/cmac_kdf.rs
  drivers/src/lib.rs
  drivers/src/persistent.rs
  drivers/test-fw/src/bin/aes_tests.rs
  kat/src/aes256cbc_kat.rs
  kat/src/aes256cmac_kat.rs
  kat/src/aes256ctr_kat.rs
  kat/src/aes256ecb_kat.rs
  kat/src/aes256gcm_kat.rs
  kat/src/cmackdf_kat.rs
  rom/dev/tools/test-fmc/src/main.rs
  runtime/src/cryptographic_mailbox.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

remove zeroizes
  drivers/src/mldsa87.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

Update for latest LOCK
  hw/fpga/fpga_configuration.tcl
Owners: none

Update runtime/src/cryptographic_mailbox.rs
  runtime/src/cryptographic_mailbox.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Add back in reserved bytes
  runtime/README.md
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Use bitfield for spdm flags
  Cargo.lock
  runtime/Cargo.toml
  runtime/src/cryptographic_mailbox.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

feat(sw-emulator): Handle SHA ACC endianness bit in streaming mode
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

feat(sw-emulator): Add hw-revision input in hw-model
  hw-model/src/lib.rs
  hw-model/src/model_emulated.rs
  sw-emulator/lib/periph/src/dma.rs
  sw-emulator/lib/periph/src/doe.rs
  sw-emulator/lib/periph/src/mailbox.rs
  sw-emulator/lib/periph/src/root_bus.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen, @ajisaxena

feat(MCU staging): Emulate MCU staging area
  builder/src/firmware.rs
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/dma_sha384_tests.rs
  drivers/tests/drivers_integration_tests/main.rs
  hw-model/src/model_emulated.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @fdamato, @jlmahowa-amd, @jhand2, @zhalvorsen

feat(rom): Use raw MBOX access for update_reset
  rom/dev/src/flow/update_reset.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson

Reduce ROM by removing 384bit HMAC
  kat/Cargo.toml
  kat/src/lib.rs
  rom/dev/Cargo.toml
  rom/dev/README.md
  test/tests/caliptra_integration_tests/smoke_test.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson

CODEOWNERS:

##########################################
#             Code Ownership
##########################################
/rom/dev/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/kat/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/drivers/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @rusty1968 @swenson
/image/ @mhatrevi @ajisaxena @vsonims @korran @swenson @vsonims @jhand2 @zhalvorsen
/sw-emulator/ @korran @mhatrevi @ajisaxena @swenson @vsonims @jhand2 @zhalvorsen
/x509/ @mhatrevi @ajisaxena @vsonims @jlmahowa-amd @jhand2 @swenson @zhalvorsen
/fmc/ @FerralCoder @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims
/runtime/ @jhand2 @fdamato @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims @zhalvorsen
/hw-model/ @korran @fdamato @jlmahowa-amd @mhatrevi @jhand2 @swenson @vsonims @zhalvorsen
/libcaliptra/ @fdamato @wmaroneAMD @JohnTraverAmd @jlmahowa-amd @korran @mhatrevi @swenson @vsonims @nquarton @jhand2 @zhalvorsen
