Repository chipsalliance/caliptra-sw, changes with the owners that CODEOWNERS names for each.
All owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @rusty1968, @jhand2, @zhalvorsen, @jlmahowa-amd, @FerralCoder, @bluegate010, @fdamato, @wmaroneAMD, @nquarton

CODEOWNERS:

##########################################
#             Code Ownership
##########################################
/rom/dev/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/kat/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/drivers/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @rusty1968 @swenson
/image/ @mhatrevi @ajisaxena @vsonims @korran @swenson @vsonims @jhand2 @zhalvorsen
/sw-emulator/ @korran @mhatrevi @ajisaxena @swenson @vsonims @jhand2 @zhalvorsen
/x509/ @mhatrevi @ajisaxena @vsonims @jlmahowa-amd @jhand2 @swenson @zhalvorsen
/fmc/ @FerralCoder @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims
/runtime/ @jhand2 @fdamato @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims @zhalvorsen
/hw-model/ @korran @fdamato @jlmahowa-amd @mhatrevi @jhand2 @swenson @vsonims @zhalvorsen
/libcaliptra/ @fdamato @wmaroneAMD @JohnTraverAmd @jlmahowa-amd @korran @mhatrevi @swenson @vsonims @nquarton @jhand2 @zhalvorsen

Update NixOS config for hostrunners
  ci-tools/host-runner/configuration.nix
  ci-tools/host-runner/flake.lock
  ci-tools/host-runner/flake.nix
  ci-tools/host-runner/hostrunners/kir-0.nix
  ci-tools/host-runner/hostrunners/kir-1.nix
  ci-tools/host-runner/hostrunners/kir-2.nix
  ci-tools/host-runner/tools/fpga-boss.nix
  ci-tools/host-runner/tools/rtool.nix
Owners: none

Forgot to include branch in artifact downloader
  ci-tools/host-runner/configuration.nix
Owners: none

Update NixOS config for hostrunners (#2324)
  ci-tools/host-runner/configuration.nix
  ci-tools/host-runner/flake.lock
  ci-tools/host-runner/flake.nix
  ci-tools/host-runner/hostrunners/kir-0.nix
  ci-tools/host-runner/hostrunners/kir-1.nix
  ci-tools/host-runner/hostrunners/kir-2.nix
  ci-tools/host-runner/tools/fpga-boss.nix
  ci-tools/host-runner/tools/rtool.nix
Owners: none

Use parition instead of bitflags
  api/src/mailbox.rs
  common/src/uds_fe_programming.rs
  runtime/src/fe_programming.rs
  runtime/tests/runtime_integration_tests/test_fe_programming.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Update io module.c
  hw/fpga/io_module/io_module.c
Owners: none

Remove unnecessary comments
  sw-emulator/lib/crypto/src/sha512.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

Add option to trim unwanted padding when updating SHA input data
  sw-emulator/lib/crypto/src/sha512.rs
  sw-emulator/lib/periph/src/hash_sha512.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

Add unit tests
  sw-emulator/lib/crypto/src/sha512.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

Fix typos
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

Add option to trim unwanted padding when updating SHA input data (#2292)
  sw-emulator/lib/crypto/src/sha512.rs
  sw-emulator/lib/periph/src/hash_sha512.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

Print built kernel modules
  hw/fpga/create_boot_bin.sh
Owners: none

fix(fe programming): Fix fuses offset and validation
  api/src/mailbox.rs
  common/src/uds_fe_programming.rs
  error/src/lib.rs
  runtime/src/lib.rs
  sw-emulator/lib/periph/src/dma/otp_fc.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen, @korran, @ajisaxena

Copy kernel modules
  .github/workflows/fpga-image.yml
  ci-tools/fpga-image/build.sh
Owners: none

fix(uds_fe_programming): Improve readability
  common/src/uds_fe_programming.rs
Owners: none

Try again
  .github/workflows/fpga-image.yml
Owners: none

Add UIO_GENIRQ module to kernel
  hw/fpga/petalinux_project/project-spec/meta-user/recipes-kernel/linux/linux-xlnx/user_2025-07-25-17-53-00.cfg
  hw/fpga/petalinux_project/project-spec/meta-user/recipes-kernel/linux/linux-xlnx_%.bbappend
Owners: none

Try to copy modules again.
  .github/workflows/fpga-image.yml
Owners: none

Globs
  .github/workflows/fpga-image.yml
Owners: none

Try again.
  .github/workflows/fpga-image.yml
Owners: none

Try again
  .github/workflows/fpga-image.yml
Owners: none

Try again
  .github/workflows/fpga-image.yml
Owners: none

Try again
  .github/workflows/fpga-image.yml
Owners: none

Tweak paths.
  .github/workflows/fpga-image.yml
Owners: none

Revert "Tweak paths."
  .github/workflows/fpga-image.yml
Owners: none

Missed second arg for mv
  ci-tools/fpga-image/build.sh
Owners: none

Fix path
  ci-tools/fpga-image/build.sh
Owners: none

Remove extra move
  ci-tools/fpga-image/build.sh
Owners: none

Adddevie tree
  hw/fpga/petalinux_project/project-spec/meta-user/recipes-bsp/device-tree/files/system-user.dtsi
  hw/fpga/petalinux_project/project-spec/meta-user/recipes-kernel/linux/linux-xlnx/user_2025-07-25-21-27-00.cfg
  hw/fpga/petalinux_project/project-spec/meta-user/recipes-kernel/linux/linux-xlnx_%.bbappend
Owners: none

update digest address and add invalid partition test
  common/src/uds_fe_programming.rs
  runtime/tests/runtime_integration_tests/test_fe_programming.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Tweak DTS
  hw/fpga/petalinux_project/project-spec/meta-user/recipes-bsp/device-tree/files/system-user.dtsi
Owners: none

Don't overwrite lib
  ci-tools/fpga-image/build.sh
Owners: none

Fix UDS addresses; fix FE lifecycle state requirement to be prod
  common/src/uds_fe_programming.rs
  runtime/src/fe_programming.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Put kernel modules in different directory
  ci-tools/fpga-image/build.sh
Owners: none

Update FE tests to use prod
  runtime/tests/runtime_integration_tests/test_fe_programming.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

More logs
  ci-tools/fpga-image/build.sh
Owners: none

Working MCU FW update
  runtime/src/activate_firmware.rs
  sw-emulator/lib/bus/src/event.rs
  sw-emulator/lib/periph/src/dma.rs
  sw-emulator/lib/periph/src/doe.rs
  sw-emulator/lib/periph/src/mci.rs
  sw-emulator/lib/periph/src/root_bus.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen, @korran, @ajisaxena

emulator: Add mcycle CSR
  sw-emulator/lib/cpu/src/cpu.rs
  sw-emulator/lib/cpu/src/csr_file.rs
  sw-emulator/lib/cpu/src/internal_timers.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

s
  drivers/src/dma.rs
  drivers/src/lib.rs
  runtime/src/activate_firmware.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

emulator: Add mcycle CSR (#2329)
  sw-emulator/lib/cpu/src/cpu.rs
  sw-emulator/lib/cpu/src/csr_file.rs
  sw-emulator/lib/cpu/src/internal_timers.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

feat(field entropy): Move extend uds programming for field entropy (#2321)
  api/src/mailbox.rs
  common/src/lib.rs
  common/src/uds_fe_programming.rs
  error/src/lib.rs
  rom/dev/src/flow/uds_programming.rs
  runtime/src/fe_programming.rs
  runtime/src/lib.rs
  runtime/tests/runtime_integration_tests/main.rs
  runtime/tests/runtime_integration_tests/test_fe_programming.rs
  sw-emulator/lib/periph/src/dma/otp_fc.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @jhand2, @fdamato, @rusty1968, @bluegate010, @zhalvorsen
