Repository chipsalliance/caliptra-sw, changes with the owners that CODEOWNERS names for each.
All owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @rusty1968, @jhand2, @zhalvorsen, @jlmahowa-amd, @FerralCoder, @bluegate010, @fdamato, @wmaroneAMD, @nquarton

Add ssh
  .github/workflows/fpga-image.yml
  ci-tools/fpga-image/build.sh
Owners: none

Build MCU ROM test image in CI
  .github/workflows/fpga-subsystem.yml
  hw-model/src/model_fpga_subsystem.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Few fixes
  ci-tools/fpga-image/build.sh
Owners: none

Build MCU ROM test image in CI
  .github/workflows/fpga-subsystem.yml
  hw-model/src/model_fpga_subsystem.rs
  hw-model/test-fw/mcu-rom-fpga.bin
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

ci: add automatic ipv4 configuration to fpga image
  ci-tools/fpga-image/build.sh
Owners: none

ci: add dhclient to fix flaky ip address assignment
  ci-tools/fpga-image/startup-script.sh
Owners: none

Adding context field to HMAC KDF KAT input
  kat/src/hmac_kdf_kat.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson

Update VCK190 caliptra 2.0 core bitstream
  .github/workflows/fpga-image.yml
Owners: none

Update VCK190 caliptra 2.0 core bitstream
  .github/workflows/fpga-image.yml
Owners: none

Build 2.1 core image
  .github/workflows/fpga-image.yml
Owners: none

Update VCK190 caliptra 2.0 core bitstream
  .github/workflows/fpga-image.yml
Owners: none

Update registers
  hw/latest/registers/src/aes.rs
  hw/latest/registers/src/aes_clp.rs
  hw/latest/registers/src/axi_dma.rs
  hw/latest/registers/src/csrng.rs
  hw/latest/registers/src/doe.rs
  hw/latest/registers/src/dv.rs
  hw/latest/registers/src/ecc.rs
  hw/latest/registers/src/el2_pic_ctrl.rs
  hw/latest/registers/src/entropy_src.rs
  hw/latest/registers/src/hmac.rs
  hw/latest/registers/src/i3ccsr.rs
  hw/latest/registers/src/kv.rs
  hw/latest/registers/src/lc_ctrl.rs
  hw/latest/registers/src/lib.rs
  hw/latest/registers/src/mbox.rs
  hw/latest/registers/src/mbox_sram.rs
  hw/latest/registers/src/mci.rs
  hw/latest/registers/src/mcu_mbox0.rs
  hw/latest/registers/src/mcu_mbox1.rs
  hw/latest/registers/src/mcu_sram.rs
  hw/latest/registers/src/mcu_trace_buffer.rs
  hw/latest/registers/src/mldsa.rs
  hw/latest/registers/src/otp_ctrl.rs
  hw/latest/registers/src/pv.rs
  hw/latest/registers/src/sha256.rs
  hw/latest/registers/src/sha512.rs
  hw/latest/registers/src/sha512_acc.rs
  hw/latest/registers/src/soc_ifc.rs
  hw/latest/registers/src/soc_ifc_trng.rs
Owners: none

Working on bitstream matrix
  .github/workflows/fpga-image.yml
Owners: none

Test
  .github/workflows/fpga-image.yml
Owners: none

More progress
  .github/workflows/fpga-image.yml
  ci-tools/fpga-image/build.sh
Owners: none

Output multiple images
  .github/workflows/fpga-image.yml
  ci-tools/fpga-image/build.sh
Owners: none

Use matrix
  .github/workflows/fpga-image.yml
Owners: none

Fix module
  .github/workflows/fpga-image.yml
Owners: none

Remove -u
  ci-tools/fpga-image/build.sh
Owners: none

Fix name
  ci-tools/fpga-image/build.sh
Owners: none

Unset variable
  .github/workflows/fpga-image.yml
Owners: none

Hopefully this is it
  .github/workflows/fpga-image.yml
  ci-tools/fpga-image/build.sh
Owners: none

All images
  .github/workflows/fpga-image.yml
Owners: none

Fix for UART when booting Ubuntu. Might break CI
  hw/fpga/create_boot_bin.sh
Owners: none

CODEOWNERS:

##########################################
#             Code Ownership
##########################################
/rom/dev/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/kat/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/drivers/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @rusty1968 @swenson
/image/ @mhatrevi @ajisaxena @vsonims @korran @swenson @vsonims @jhand2 @zhalvorsen
/sw-emulator/ @korran @mhatrevi @ajisaxena @swenson @vsonims @jhand2 @zhalvorsen
/x509/ @mhatrevi @ajisaxena @vsonims @jlmahowa-amd @jhand2 @swenson @zhalvorsen
/fmc/ @FerralCoder @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims
/runtime/ @jhand2 @fdamato @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims @zhalvorsen
/hw-model/ @korran @fdamato @jlmahowa-amd @mhatrevi @jhand2 @swenson @vsonims @zhalvorsen
/libcaliptra/ @fdamato @wmaroneAMD @JohnTraverAmd @jlmahowa-amd @korran @mhatrevi @swenson @vsonims @nquarton @jhand2 @zhalvorsen
