Repository chipsalliance/caliptra-sw, changes with the owners that CODEOWNERS names for each.
All owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @rusty1968, @jhand2, @zhalvorsen, @jlmahowa-amd, @FerralCoder, @bluegate010, @fdamato, @wmaroneAMD, @nquarton

Fix build error when running `cargo build --features fpga_subsystem`
  hw-model/src/model_fpga_subsystem.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Add build test for fpga_subsystem
  .github/workflows/build-test.yml
Owners: none

Add Subsystem FPGA hardware model (#2364)
  .github/workflows/build-test.yml
  Cargo.lock
  Cargo.toml
  hw-model/Cargo.toml
  hw-model/src/bmc.rs
  hw-model/src/fpga_regs.rs
  hw-model/src/lib.rs
  hw-model/src/model_fpga_realtime.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/otp_digest.rs
  hw-model/src/otp_provision.rs
  hw-model/src/recovery.rs
  hw-model/src/xi3c/controller.rs
  hw-model/src/xi3c/mod.rs
  hw-model/test-fw/mcu-rom-fpga.bin
  sw-emulator/lib/periph/src/dma/otp_fc.rs
  sw-emulator/lib/periph/src/mailbox.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen, @ajisaxena

Making vendor key configs optional in auth-manifest tool
  auth-manifest/app/src/config.rs
  auth-manifest/app/src/main.rs
  auth-manifest/gen/src/generator.rs
  auth-manifest/gen/src/lib.rs
  runtime/tests/runtime_integration_tests/test_set_auth_manifest.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Remove tests from FPGA CI to create baseline.
  .github/workflows/fpga.yml
Owners: none

feat(fw-processing): use MCU staging
  common/src/verifier.rs
  drivers/src/dma.rs
  drivers/src/lib.rs
  drivers/src/mailbox.rs
  drivers/src/memory_layout.rs
  drivers/src/sha2_512_384acc.rs
  drivers/src/soc_ifc.rs
  drivers/test-fw/src/bin/dma_sha384_tests.rs
  drivers/test-fw/src/bin/sha2_512_384acc_tests.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/rom_integration_tests/test_fmcalias_derivation.rs
  runtime/src/mailbox.rs
  runtime/src/recovery_flow.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

feat(rom): Add update_reset handling
  rom/dev/src/flow/update_reset.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
  sw-emulator/lib/periph/src/helpers.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @jhand2, @zhalvorsen

feat(api): Add external mbox command struct
  api/src/mailbox.rs
Owners: none

feat(rom): Add a feature flag to build for subsystem mode
  builder/src/firmware.rs
  common/src/verifier.rs
  error/src/lib.rs
  rom/dev/Cargo.toml
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/src/flow/update_reset.rs
  rom/dev/src/main.rs
  rom/dev/tests/rom_integration_tests/helpers.rs
  rom/dev/tests/rom_integration_tests/test_debug_unlock.rs
  rom/dev/tests/rom_integration_tests/test_pmp.rs
  rom/dev/tests/rom_integration_tests/test_uds_programming.rs
  rom/dev/tests/rom_integration_tests/test_update_reset.rs
  rom/dev/tests/rom_integration_tests/test_version.rs
  rom/dev/tools/test-fmc/src/main.rs
  runtime/src/fips.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @jhand2, @fdamato, @rusty1968, @bluegate010, @zhalvorsen

Update hw-model for staging commands in MCU SRAM
  api/src/mailbox.rs
  hw-model/src/lib.rs
  hw-model/src/model_emulated.rs
  hw-model/src/model_fpga_realtime.rs
  hw-model/src/model_verilated.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen, @ajisaxena

feat(runtime): Handle set_auth_manifest recovery with MCU staging
  drivers/src/dma.rs
  runtime/src/recovery_flow.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

fix(runtime): Update HW_REV_ID
  runtime/tests/runtime_integration_tests/test_fips.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

fix(runtime): Update tests to use the right ROM
  builder/src/lib.rs
  runtime/tests/runtime_integration_tests/test_debug_unlock.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

feat(runtime): Handle external MCU SRAM mailbox command
  drivers/src/memory_layout.rs
  hw-model/src/lib.rs
  runtime/src/lib.rs
  runtime/tests/runtime_integration_tests/test_activate_firmware.rs
  runtime/tests/runtime_integration_tests/test_authorize_and_stash.rs
  runtime/tests/runtime_integration_tests/test_recovery_flow.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @fdamato, @jlmahowa-amd, @jhand2, @zhalvorsen, @bluegate010

feat(rom): Fix makefile and emulator for active mode run
  builder/bin/image_gen.rs
  rom/dev/Makefile
  sw-emulator/app/src/main.rs
  sw-emulator/lib/periph/src/root_bus.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @jhand2, @zhalvorsen

Update the default stack size
  .cargo/config.toml
Owners: none

fix(tests): Fix some tests for subsystem mode on 2.1
  rom/dev/tests/rom_integration_tests/test_update_reset.rs
  test/tests/fips_test_suite/common.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson

More specific test filtering and add todo
  .github/workflows/fpga.yml
Owners: none

Add Docker container to host caliptra build tools
  .github/workflows/publish-build-image.yml
  ci-tools/build-image/Dockerfile
Owners: none

exclude the sha384 test
  .github/workflows/fpga.yml
Owners: none

Remove tests from FPGA CI to create baseline. (#2370)
  .github/workflows/fpga.yml
Owners: none

Add Docker container to host caliptra build tools (#2372)
  .github/workflows/publish-build-image.yml
  ci-tools/build-image/Dockerfile
Owners: none

Updates for newer adams-bridge
  hw/fpga/adams-bridge-files.tcl
  hw/fpga/create_caliptra_package.tcl
  hw/fpga/src/caliptra_wrapper_top.sv
Owners: none

runtime: Separate SPDM AES enc/dec (#2346)
  Cargo.lock
  api/src/mailbox.rs
  common/src/lib.rs
  runtime/Cargo.toml
  runtime/README.md
  runtime/src/cryptographic_mailbox.rs
  runtime/src/lib.rs
  runtime/tests/runtime_integration_tests/test_cryptographic_mailbox.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

[fix] Update firmware manifest marker value (#2342)
  image/types/src/lib.rs
  libcaliptra/inc/caliptra_image.h
  rom/dev/README.md
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @swenson, @jhand2, @zhalvorsen, @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @nquarton

Add more Caliptra Subsystem register files. (#2343)
  hw/latest/registers/src/lc_ctrl.rs
  hw/latest/registers/src/lib.rs
  hw/latest/registers/src/mci.rs
  registers/bin/extra-rdl/el2_pic_ctrl.rdl
  registers/bin/generator/src/main.rs
Owners: none

builder: Allow caliptra-builder to work on Windows (#2332)
  Cargo.lock
  Cargo.toml
  builder/Cargo.toml
  builder/src/lib.rs
Owners: none

Fix FPGA workflow (#2365)
  .github/workflows/fpga.yml
Owners: none

Build MCU SW image
  .github/workflows/fpga-image.yml
  hw/fpga/io_module/io_module.c
Owners: none

emulator: Support 255 PIC interrupts (#2331)
  sw-emulator/lib/cpu/src/pic.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

emulator: Add mcycle CSR (#2329)
  sw-emulator/lib/cpu/src/cpu.rs
  sw-emulator/lib/cpu/src/csr_file.rs
  sw-emulator/lib/cpu/src/internal_timers.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

feat(MCU staging): Emulate MCU staging area (#2360)
  .github/workflows/fpga.yml
  builder/src/firmware.rs
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/dma_sha384_tests.rs
  drivers/tests/drivers_integration_tests/main.rs
  hw-model/src/model_emulated.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @fdamato, @jlmahowa-amd, @jhand2, @zhalvorsen

feat(field entropy): Move extend uds programming for field entropy (#2321)
  api/src/mailbox.rs
  common/src/lib.rs
  common/src/uds_fe_programming.rs
  error/src/lib.rs
  rom/dev/src/flow/uds_programming.rs
  runtime/src/fe_programming.rs
  runtime/src/lib.rs
  runtime/tests/runtime_integration_tests/main.rs
  runtime/tests/runtime_integration_tests/test_fe_programming.rs
  sw-emulator/lib/periph/src/dma/otp_fc.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @jhand2, @fdamato, @rusty1968, @bluegate010, @zhalvorsen

MCI support for MCU Hitless Update (#2334)
  drivers/src/dma.rs
  drivers/src/lib.rs
  runtime/src/activate_firmware.rs
  sw-emulator/lib/bus/src/event.rs
  sw-emulator/lib/periph/src/dma.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
  sw-emulator/lib/periph/src/doe.rs
  sw-emulator/lib/periph/src/mci.rs
  sw-emulator/lib/periph/src/root_bus.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

Add the rest of the `mci_top` registers. (#2347)
  hw/latest/registers/src/lib.rs
  hw/latest/registers/src/mci.rs
  hw/latest/registers/src/mcu_mbox0.rs
  hw/latest/registers/src/mcu_mbox1.rs
  hw/latest/registers/src/mcu_sram.rs
  hw/latest/registers/src/mcu_trace_buffer.rs
  registers/bin/extra-rdl/el2_pic_ctrl.rdl
  registers/bin/generator/src/main.rs
Owners: none

Add Subsystem FPGA hardware model (#2364)
  .github/workflows/build-test.yml
  Cargo.lock
  Cargo.toml
  hw-model/Cargo.toml
  hw-model/src/bmc.rs
  hw-model/src/fpga_regs.rs
  hw-model/src/lib.rs
  hw-model/src/model_fpga_realtime.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/otp_digest.rs
  hw-model/src/otp_provision.rs
  hw-model/src/recovery.rs
  hw-model/src/xi3c/controller.rs
  hw-model/src/xi3c/mod.rs
  hw-model/test-fw/mcu-rom-fpga.bin
  sw-emulator/lib/periph/src/dma/otp_fc.rs
  sw-emulator/lib/periph/src/mailbox.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen, @ajisaxena

Print human-readable name of mailbox commands in log. (#2359)
  runtime/src/lib.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

FPGA: model tests alignment fix (#2350)
  hw-model/src/model_fpga_realtime.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Add VERIFY_AUTH_MANIFEST mailbox command (#2351)
  api/src/mailbox.rs
  runtime/README.md
  runtime/src/lib.rs
  runtime/src/recovery_flow.rs
  runtime/src/set_auth_manifest.rs
  runtime/tests/runtime_integration_tests/test_authorize_and_stash.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Add subsystem FPGA testing
  .github/workflows/fpga-subsystem.yml
  drivers/Cargo.toml
  drivers/src/soc_ifc.rs
  drivers/test-fw/Cargo.toml
  drivers/tests/drivers_integration_tests/main.rs
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
  runtime/Cargo.toml
  runtime/test-fw/Cargo.toml
  runtime/tests/runtime_integration_tests/common.rs
  runtime/tests/runtime_integration_tests/test_certs.rs
  runtime/tests/runtime_integration_tests/test_cryptographic_mailbox.rs
  runtime/tests/runtime_integration_tests/test_debug_unlock.rs
  runtime/tests/runtime_integration_tests/test_ecdsa.rs
  runtime/tests/runtime_integration_tests/test_mailbox.rs
  runtime/tests/runtime_integration_tests/test_recovery_flow.rs
  runtime/tests/runtime_integration_tests/test_warm_reset.rs
  test/Cargo.toml
  test/tests/caliptra_integration_tests/test_code_coverage.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @fdamato, @jlmahowa-amd, @jhand2, @zhalvorsen, @bluegate010

CODEOWNERS:

##########################################
#             Code Ownership
##########################################
/rom/dev/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/kat/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/drivers/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @rusty1968 @swenson
/image/ @mhatrevi @ajisaxena @vsonims @korran @swenson @vsonims @jhand2 @zhalvorsen
/sw-emulator/ @korran @mhatrevi @ajisaxena @swenson @vsonims @jhand2 @zhalvorsen
/x509/ @mhatrevi @ajisaxena @vsonims @jlmahowa-amd @jhand2 @swenson @zhalvorsen
/fmc/ @FerralCoder @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims
/runtime/ @jhand2 @fdamato @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims @zhalvorsen
/hw-model/ @korran @fdamato @jlmahowa-amd @mhatrevi @jhand2 @swenson @vsonims @zhalvorsen
/libcaliptra/ @fdamato @wmaroneAMD @JohnTraverAmd @jlmahowa-amd @korran @mhatrevi @swenson @vsonims @nquarton @jhand2 @zhalvorsen
