Repository chipsalliance/caliptra-sw, changes with the owners that CODEOWNERS names for each.
All owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @rusty1968, @jhand2, @zhalvorsen, @jlmahowa-amd, @FerralCoder, @bluegate010, @fdamato, @wmaroneAMD, @nquarton

CODEOWNERS:

##########################################
#             Code Ownership
##########################################
/rom/dev/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/kat/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/drivers/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @rusty1968 @swenson
/image/ @mhatrevi @ajisaxena @vsonims @korran @swenson @vsonims @jhand2 @zhalvorsen
/sw-emulator/ @korran @mhatrevi @ajisaxena @swenson @vsonims @jhand2 @zhalvorsen
/x509/ @mhatrevi @ajisaxena @vsonims @jlmahowa-amd @jhand2 @swenson @zhalvorsen
/fmc/ @FerralCoder @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims
/runtime/ @jhand2 @fdamato @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims @zhalvorsen
/hw-model/ @korran @fdamato @jlmahowa-amd @mhatrevi @jhand2 @swenson @vsonims @zhalvorsen
/libcaliptra/ @fdamato @wmaroneAMD @JohnTraverAmd @jlmahowa-amd @korran @mhatrevi @swenson @vsonims @nquarton @jhand2 @zhalvorsen

feat(fw-processing): use MCU staging
  common/src/verifier.rs
  drivers/src/dma.rs
  drivers/src/lib.rs
  drivers/src/mailbox.rs
  drivers/src/memory_layout.rs
  drivers/src/sha2_512_384acc.rs
  drivers/src/soc_ifc.rs
  drivers/test-fw/src/bin/dma_sha384_tests.rs
  drivers/test-fw/src/bin/sha2_512_384acc_tests.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/rom_integration_tests/test_fmcalias_derivation.rs
  runtime/src/mailbox.rs
  runtime/src/recovery_flow.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

remove zeroizes
  common/src/error_handler.rs
  drivers/src/mailbox.rs
  drivers/src/mldsa87.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson

runtime: Separate SPDM AES enc/dec (#2346)
  Cargo.lock
  api/src/mailbox.rs
  common/src/lib.rs
  runtime/Cargo.toml
  runtime/README.md
  runtime/src/cryptographic_mailbox.rs
  runtime/src/lib.rs
  runtime/tests/runtime_integration_tests/test_cryptographic_mailbox.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Print human-readable name of mailbox commands in log.
  runtime/src/lib.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Add in most files
  Cargo.lock
  Cargo.toml
  hw-model/Cargo.toml
  hw-model/src/bmc.rs
  hw-model/src/fpga_regs.rs
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/otp_digest.rs
  hw-model/src/otp_provision.rs
  hw-model/src/recovery.rs
  hw-model/src/xi3c/controller.rs
  hw-model/src/xi3c/mod.rs
  sw-emulator/lib/periph/src/dma/otp_fc.rs
  sw-emulator/lib/periph/src/mailbox.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen, @ajisaxena

Chipping away at getting it to compile
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/otp_provision.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

clean up i3c
  hw-model/src/model_fpga_realtime.rs
  hw-model/src/model_fpga_subsystem.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

wip
  hw-model/src/model_fpga_subsystem.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Add some fuses
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Compiles at least
  hw-model/Cargo.toml
  hw-model/src/bmc.rs
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/otp_digest.rs
  hw-model/src/otp_provision.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Read in the MCU ROM at compile time
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/test-fw/mcu-rom-fpga.bin
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Add VERIFY_AUTH_MANIFEST mailbox command
  api/src/mailbox.rs
  runtime/README.md
  runtime/src/lib.rs
  runtime/src/recovery_flow.rs
  runtime/src/set_auth_manifest.rs
  runtime/tests/runtime_integration_tests/test_authorize_and_stash.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Addressed feedback
  api/src/mailbox.rs
  runtime/tests/runtime_integration_tests/test_authorize_and_stash.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

feat(MCU staging): Emulate MCU staging area
  .github/workflows/fpga.yml
  builder/src/firmware.rs
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/dma_sha384_tests.rs
  drivers/tests/drivers_integration_tests/main.rs
  hw-model/src/model_emulated.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @fdamato, @jlmahowa-amd, @jhand2, @zhalvorsen

Add VERIFY_AUTH_MANIFEST mailbox command (#2351)
  api/src/mailbox.rs
  runtime/README.md
  runtime/src/lib.rs
  runtime/src/recovery_flow.rs
  runtime/src/set_auth_manifest.rs
  runtime/tests/runtime_integration_tests/test_authorize_and_stash.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

feat(rom): Use raw MBOX access for update_reset (#2358)
  rom/dev/src/flow/update_reset.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson

feat(MCU staging): Emulate MCU staging area (#2360)
  .github/workflows/fpga.yml
  builder/src/firmware.rs
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/dma_sha384_tests.rs
  drivers/tests/drivers_integration_tests/main.rs
  hw-model/src/model_emulated.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @fdamato, @jlmahowa-amd, @jhand2, @zhalvorsen

all ascii
  runtime/src/lib.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Update runtime/src/lib.rs
  runtime/src/lib.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Print human-readable name of mailbox commands in log. (#2359)
  runtime/src/lib.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Update LOCK build
  hw/fpga/adams-bridge-files.tcl
Owners: none

Fix FPGA workflow
  .github/workflows/fpga.yml
Owners: none

Fix FPGA workflow (#2365)
  .github/workflows/fpga.yml
Owners: none

Get test regression
  .github/workflows/fpga.yml
Owners: none

Add in most files
  Cargo.lock
  Cargo.toml
  hw-model/Cargo.toml
  hw-model/src/bmc.rs
  hw-model/src/fpga_regs.rs
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/otp_digest.rs
  hw-model/src/otp_provision.rs
  hw-model/src/recovery.rs
  hw-model/src/xi3c/controller.rs
  hw-model/src/xi3c/mod.rs
  sw-emulator/lib/periph/src/dma/otp_fc.rs
  sw-emulator/lib/periph/src/mailbox.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen, @ajisaxena

Fix Clippy lints
  hw-model/src/otp_digest.rs
  hw-model/src/xi3c/controller.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

wip
  hw-model/src/model_fpga_subsystem.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Add some fuses
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Chipping away at getting it to compile
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/otp_provision.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Read in the MCU ROM at compile time
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/xi3c/controller.rs
  hw-model/test-fw/mcu-rom-fpga.bin
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

clean up i3c
  hw-model/src/model_fpga_realtime.rs
  hw-model/src/model_fpga_subsystem.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Remove subsystem test for now and get otp_provision tests to build.
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/otp_provision.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

Compiles at least
  hw-model/Cargo.toml
  hw-model/src/bmc.rs
  hw-model/src/lib.rs
  hw-model/src/model_fpga_subsystem.rs
  hw-model/src/otp_digest.rs
  hw-model/src/otp_provision.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen

feat(sw-emulator): Add hw-revision input in hw-model
  hw-model/src/lib.rs
  hw-model/src/model_emulated.rs
  sw-emulator/lib/periph/src/dma.rs
  sw-emulator/lib/periph/src/doe.rs
  sw-emulator/lib/periph/src/mailbox.rs
  sw-emulator/lib/periph/src/root_bus.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen, @ajisaxena

feat(sw-emulator): Handle SHA ACC endianness bit in streaming mode
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

fix(dma): Limit reported FIFO depth to actual FIFO size
  sw-emulator/lib/periph/src/dma.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

Reduce ROM by removing 384bit HMAC
  kat/Cargo.toml
  kat/src/lib.rs
  rom/dev/Cargo.toml
  rom/dev/README.md
  test/tests/caliptra_integration_tests/smoke_test.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson

feat(MCU staging): Emulate MCU staging area
  builder/src/firmware.rs
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/dma_sha384_tests.rs
  drivers/tests/drivers_integration_tests/main.rs
  hw-model/src/model_emulated.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @fdamato, @jlmahowa-amd, @jhand2, @zhalvorsen

Adding most recent non-fatal FW error to FW_INFO cmd
  api/src/mailbox.rs
  drivers/src/error_reporter.rs
  drivers/src/lib.rs
  drivers/src/persistent.rs
  drivers/test-fw/src/bin/error_reporter_tests.rs
  libcaliptra/inc/caliptra_types.h
  rom/dev/src/flow/cold_reset/fw_processor.rs
  runtime/README.md
  runtime/src/info.rs
  runtime/src/lib.rs
  runtime/test-fw/src/mbox_responder.rs
  runtime/test-fw/src/mock_rt_test_interactive.rs
  runtime/tests/runtime_integration_tests/test_info.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @fdamato, @wmaroneAMD, @jlmahowa-amd, @nquarton, @jhand2, @zhalvorsen, @bluegate010

Wait for the FPGA to be available before accessing registers.
  hw-model/src/model_fpga_subsystem.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen
