Repository chipsalliance/caliptra-sw, changes with the owners that CODEOWNERS names for each.
All owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson, @rusty1968, @jhand2, @zhalvorsen, @jlmahowa-amd, @FerralCoder, @bluegate010, @fdamato, @wmaroneAMD, @nquarton

Correctly set the number of handles in DPE.
  .cargo/config
  runtime/build.rs
  runtime/tests/runtime_integration_tests/test_invoke_dpe.rs
  test/dpe_verification/transport.go
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Minor fe changes
  common/src/uds_fe_programming.rs
Owners: none

emulator: Support 255 PIC interrupts
  sw-emulator/lib/cpu/src/pic.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

emulator: Support 255 PIC interrupts (#2331)
  sw-emulator/lib/cpu/src/pic.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

builder: Allow caliptra-builder to work on Windows
  Cargo.lock
  Cargo.toml
  builder/Cargo.toml
  builder/src/lib.rs
Owners: none

Calculate test hash, read correct digest length back
  libcaliptra/examples/generic/test.c
  libcaliptra/src/caliptra_api.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Use correct defines to calculate SHA512 CSR MODE value
  libcaliptra/src/caliptra_api.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Fix partial u32 writes, add register access error handling
  libcaliptra/src/caliptra_api.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Set DLEN register before streaming data
  libcaliptra/src/caliptra_api.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Use register mask defines where possible
  libcaliptra/src/caliptra_api.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Fix SHA512 test
  libcaliptra/examples/generic/test.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Remove unsupported mbox sha function
  libcaliptra/examples/generic/test.c
  libcaliptra/inc/caliptra_api.h
  libcaliptra/src/caliptra_api.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Fix endianness of SHA input data, add SHA ACC test
  libcaliptra/examples/generic/test.c
  libcaliptra/src/caliptra_api.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

libcaliptra: add SHA accelerator API
  libcaliptra/examples/generic/test.c
  libcaliptra/inc/caliptra_api.h
  libcaliptra/inc/caliptra_enums.h
  libcaliptra/src/caliptra_api.c
  libcaliptra/src/caliptra_fuses.h
  libcaliptra/src/caliptra_sha.h
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Drop mirrored defines in favor of caliptra_top_reg.h
  libcaliptra/src/caliptra_api.c
  libcaliptra/src/caliptra_sha.h
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Fix: Write SHA mode and endianess to mode CSR
  libcaliptra/src/caliptra_api.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Change sha function to u8 data buffer
  libcaliptra/examples/generic/test.c
  libcaliptra/inc/caliptra_api.h
  libcaliptra/src/caliptra_api.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

Add 227 byte SHA ACC test
  libcaliptra/examples/generic/test.c
Owners: @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @korran, @mhatrevi, @swenson, @vsonims, @nquarton, @jhand2, @zhalvorsen

feat(sw-emulator): Add hw-revision input in hw-model
  hw-model/src/lib.rs
  hw-model/src/model_emulated.rs
  sw-emulator/lib/periph/src/dma.rs
  sw-emulator/lib/periph/src/doe.rs
  sw-emulator/lib/periph/src/mailbox.rs
  sw-emulator/lib/periph/src/root_bus.rs
  sw-emulator/lib/periph/src/sha512_acc.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Owners: @korran, @fdamato, @jlmahowa-amd, @mhatrevi, @jhand2, @swenson, @vsonims, @zhalvorsen, @ajisaxena

feat(sw-emulator): Handle SHA ACC endianness bit in streaming mode
  sw-emulator/lib/periph/src/sha512_acc.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

fix(dma): Limit reported FIFO depth to actual FIFO size
  sw-emulator/lib/periph/src/dma.rs
Owners: @korran, @mhatrevi, @ajisaxena, @swenson, @vsonims, @jhand2, @zhalvorsen

builder: Allow caliptra-builder to work on Windows (#2332)
  Cargo.lock
  Cargo.toml
  builder/Cargo.toml
  builder/src/lib.rs
Owners: none

Increase runner disk size to 32 GB
  ci-tools/github-runner/launch.go
Owners: none

Increase runner disk size to 32 GB (#2335)
  ci-tools/github-runner/launch.go
Owners: none

ci-tools/host-runner: add usbsdmux script and bo-0
  ci-tools/host-runner/flake.nix
  ci-tools/host-runner/hostrunners/bo-0.nix
Owners: none

Hostrunner update
  ci-tools/host-runner/configuration.nix
  ci-tools/host-runner/hostrunners/kir-0.nix
  ci-tools/host-runner/hostrunners/kir-1.nix
  ci-tools/host-runner/hostrunners/kir-2.nix
Owners: none

Hostrunner update (#2339)
  ci-tools/host-runner/configuration.nix
  ci-tools/host-runner/hostrunners/kir-0.nix
  ci-tools/host-runner/hostrunners/kir-1.nix
  ci-tools/host-runner/hostrunners/kir-2.nix
Owners: none

Correctly set the number of handles in DPE. (#2318)
  .cargo/config
  runtime/build.rs
  runtime/tests/runtime_integration_tests/test_invoke_dpe.rs
  test/dpe_verification/transport.go
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

[fix] Update firmware manifest marker value
  image/types/src/lib.rs
  libcaliptra/inc/caliptra_image.h
  rom/dev/README.md
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @swenson, @jhand2, @zhalvorsen, @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @nquarton

[fix] Update firmware manifest marker value (#2342)
  image/types/src/lib.rs
  libcaliptra/inc/caliptra_image.h
  rom/dev/README.md
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @swenson, @jhand2, @zhalvorsen, @fdamato, @wmaroneAMD, @JohnTraverAmd, @jlmahowa-amd, @nquarton

MCI support for MCU Hitless Update
  drivers/src/dma.rs
  drivers/src/lib.rs
  runtime/src/activate_firmware.rs
  sw-emulator/lib/bus/src/event.rs
  sw-emulator/lib/periph/src/dma.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
  sw-emulator/lib/periph/src/doe.rs
  sw-emulator/lib/periph/src/mci.rs
  sw-emulator/lib/periph/src/root_bus.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

WIP/HACK(MCU staging): Emulate MCU staging area
  builder/src/firmware.rs
  drivers/test-fw/Cargo.toml
  drivers/test-fw/src/bin/dma_sha384_tests.rs
  drivers/tests/drivers_integration_tests/main.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @zhalvorsen

Reduce ROM by removing 384bit HMAC
  kat/Cargo.toml
  kat/src/lib.rs
  rom/dev/Cargo.toml
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @swenson

feat(fw-processing): use MCU staging
  common/src/verifier.rs
  drivers/src/dma.rs
  drivers/src/lib.rs
  drivers/src/mailbox.rs
  drivers/src/memory_layout.rs
  drivers/src/sha2_512_384acc.rs
  drivers/src/soc_ifc.rs
  drivers/test-fw/src/bin/dma_sha384_tests.rs
  drivers/test-fw/src/bin/sha2_512_384acc_tests.rs
  drivers/tests/drivers_integration_tests/main.rs
  rom/dev/src/flow/cold_reset/fw_processor.rs
  rom/dev/tests/rom_integration_tests/test_fmcalias_derivation.rs
  runtime/src/mailbox.rs
  runtime/src/recovery_flow.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

MCI support for MCU Hitless Update (#2334)
  drivers/src/dma.rs
  drivers/src/lib.rs
  runtime/src/activate_firmware.rs
  sw-emulator/lib/bus/src/event.rs
  sw-emulator/lib/periph/src/dma.rs
  sw-emulator/lib/periph/src/dma/axi_root_bus.rs
  sw-emulator/lib/periph/src/doe.rs
  sw-emulator/lib/periph/src/mci.rs
  sw-emulator/lib/periph/src/root_bus.rs
  sw-emulator/lib/periph/src/soc_reg.rs
Owners: @mhatrevi, @ajisaxena, @vsonims, @korran, @JohnTraverAmd, @rusty1968, @swenson, @jhand2, @fdamato, @bluegate010, @zhalvorsen

Build MCU SW image
  .github/workflows/fpga-image.yml
  hw/fpga/io_module/io_module.c
Owners: none

Add more Caliptra Subsystem register files.
  hw/latest/registers/src/lc_ctrl.rs
  hw/latest/registers/src/lib.rs
  hw/latest/registers/src/mci.rs
  registers/bin/extra-rdl/el2_pic_ctrl.rdl
  registers/bin/generator/src/main.rs
Owners: none

Add more Caliptra Subsystem register files. (#2343)
  hw/latest/registers/src/lc_ctrl.rs
  hw/latest/registers/src/lib.rs
  hw/latest/registers/src/mci.rs
  registers/bin/extra-rdl/el2_pic_ctrl.rdl
  registers/bin/generator/src/main.rs
Owners: none

runtime: Separate SPDM AES enc/dec
  api/src/mailbox.rs
  common/src/lib.rs
  runtime/README.md
  runtime/src/cryptographic_mailbox.rs
  runtime/src/lib.rs
  runtime/tests/runtime_integration_tests/test_cryptographic_mailbox.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

Add support for big and little endian counter XOR
  api/src/mailbox.rs
  runtime/README.md
  runtime/src/cryptographic_mailbox.rs
  runtime/tests/runtime_integration_tests/test_cryptographic_mailbox.rs
Owners: @jhand2, @fdamato, @rusty1968, @bluegate010, @mhatrevi, @swenson, @vsonims, @zhalvorsen

CODEOWNERS:

##########################################
#             Code Ownership
##########################################
/rom/dev/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/kat/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @swenson
/drivers/ @mhatrevi @ajisaxena @vsonims @korran @JohnTraverAmd @rusty1968 @swenson
/image/ @mhatrevi @ajisaxena @vsonims @korran @swenson @vsonims @jhand2 @zhalvorsen
/sw-emulator/ @korran @mhatrevi @ajisaxena @swenson @vsonims @jhand2 @zhalvorsen
/x509/ @mhatrevi @ajisaxena @vsonims @jlmahowa-amd @jhand2 @swenson @zhalvorsen
/fmc/ @FerralCoder @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims
/runtime/ @jhand2 @fdamato @rusty1968 @bluegate010 @mhatrevi @swenson @vsonims @zhalvorsen
/hw-model/ @korran @fdamato @jlmahowa-amd @mhatrevi @jhand2 @swenson @vsonims @zhalvorsen
/libcaliptra/ @fdamato @wmaroneAMD @JohnTraverAmd @jlmahowa-amd @korran @mhatrevi @swenson @vsonims @nquarton @jhand2 @zhalvorsen
